cache/*
config/app.php
.DS_Store
vendor
wp/*
!/wp/.htaccess
node_modules/
app/plugins/*
!app/plugins/dev-*
!app/plugins/redstar-func
!app/plugins/red-widget
app/themes/*
app/uploads/*
!app/themes/minim
!app/themes/atom
!app/themes/flexi
!app/themes/redstar
!app/themes/redsprout
!app/themes/dev-*
.idea/*