node_modules/
.DS_Store
.idea/*

cache/*
config/app.php
vendor
wp/*
!/wp/.htaccess

# plugins
app/plugins/*
!app/plugins/dev-*
!app/plugins/redstar-func
!app/plugins/red-widget
!app/plugins/jb-*

# themes
app/themes/*
!app/themes/minim
!app/themes/atom
!app/themes/flexi
!app/themes/redstar
!app/themes/redsprout
!app/themes/dev-*
!app/themes/jb-*

# media
app/uploads/*