.main-navigation {
    .nav-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        text-align: center;
        width: 100%;
        @include small {
            flex-flow: row wrap;
        }
        .menu-item {
            flex-grow: 1;
            @extend %border-anim;
            transition: background-color .2s ease-in-out, color .2s ease-in-out;
            &:hover {
                background: $darkest;
                color: $lightest;
                a {
                    color: $lightest;
                }
            }
            a {
                transition: color .3s ease-in-out;
                padding: $padding;
                &:visited {}
                &:hover,
                &:focus {}
            }
        }
    }
}