* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mega-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0; }
  .mega-menu__item a {
    padding: 1rem; }
  .mega-menu__item__content {
    position: absolute;
    -webkit-transform: scaleY(0) translateX(-45%);
            transform: scaleY(0) translateX(-45%);
    -webkit-transform-origin: top center;
            transform-origin: top center;
    opacity: 0;
    overflow: hidden;
    -webkit-transition: .3s;
    transition: .3s;
    list-style: none;
    z-index: 100;
    border: 1px solid #fff;
    text-align: left;
    background: rgba(255, 255, 255, 0.9);
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .mega-menu__item:hover .mega-menu__item__content {
    opacity: 1;
    -webkit-transform: scaleY(1) translateX(-45%);
            transform: scaleY(1) translateX(-45%);
    border: 1px solid #ccc; }
  .mega-menu__item .widget {
    border: none;
    margin: 0;
    padding: 1.5rem 2.5rem; }
    .mega-menu__item .widget a, .mega-menu__item .widget a:visited {
      text-decoration: none;
      border: 1px solid skyblue;
      -webkit-box-shadow: none;
              box-shadow: none;
      margin: 0;
      padding: .5rem 1rem; }
