* {
  box-sizing: border-box;
}

.mega-menu {
  position: relative;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  &__item {
    a {
      padding: 1rem;
    }
    &__content {
      position: absolute;
      transform: scaleY(0) translateX(-45%);
      transform-origin: top center;
      opacity: 0;
      overflow: hidden;
      transition: .3s;
      list-style: none;
      z-index: 100;
      border: 1px solid #fff;
      text-align: left;
      background: rgba(white, 0.9);
      padding: 0;
      display: flex;
    }
    &:hover {
      .mega-menu__item__content {
        opacity: 1;
        transform: scaleY(1) translateX(-45%);
        border: 1px solid #ccc;
      }
    }
    .widget {
      border: none;
      margin: 0;
      padding: 1.5rem 2.5rem;
      a, a:visited {
        text-decoration: none;
        border: 1px solid skyblue;
        box-shadow: none;
        margin: 0;
        padding: .5rem 1rem;
        &:hover {

        }
      }
    }
  }
  // __item
}